# Don't commit backup files generated automatically by the IDE and git.
*.bak
*.orig

# Don't commit the image files embedded in the script.
*.ani
*.ico

# Don't commit the settings file that gets created.
*.ini

# Don't commit and release binaries.
*.exe
